@import "reset";
@import "bourbon";

html{
  font-family: Helvetica, Arial, sans-serif;
  height: 100%;
}
body{
  max-height: 100%;
  min-height: 100%;
  height:100%;
}
*{
  box-sizing: border-box;
}

header{
  width:100%;
  padding: 1em;
  background-color: #333;
  color: #999;
}
h1{
  font-size: 2em;
  margin: 0.25em auto;
}
h2{
  margin: 0.5em auto;
}
h3{
  font-size: 0.85em;
}
h6{
  font-size: 0.5em;
  text-transform:uppercase;
  font-weight: bold;
}
.viewer{
  max-height: 100%;
  min-height: 100%;
  position:relative;
}
.video__wrapper{
  max-width: 75%;
  left:25%;
  position:relative;
  height: auto;
}
video{
  min-width: 100%;
  max-width: 100%;
  max-height: 100%;
}
.sidebar{
  position:absolute;
  width: 25%;
  max-height: 100%;
  height: 100%;
  overflow-y: scroll;
}
ul{
  padding: 1em;
  &:before{
    content: "BOOKMARKS";
    font-weight: bold;
    width:auto;
    display:block;
    margin-bottom: 0.5em;
  }
}
li{
  margin: 0.5em 0;
  margin-left:3.5em;
  line-height: 1.35;
}
li a:first-child{
  left:-3.5em;
  margin-right: -3.5em;
  position:relative;
  float:left;
}
li strong{
  display: block;
  font-size: 1.25em;
  line-height: 1.1;
}
strong{
  font-weight: bold;
}
.videoSpeedControls{
  position:absolute;
  top:1em;
  right:1em;
}
video::-webkit-media-controls-panel {
    display: flex !important;
    opacity: 1 !important;
}
