html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-family: Helvetica, Arial, sans-serif;
  height: 100%; }

body {
  max-height: 100%;
  min-height: 100%;
  height: 100%; }

* {
  box-sizing: border-box; }

header {
  width: 100%;
  padding: 1em;
  background-color: #333;
  color: #999; }

h1 {
  font-size: 2em;
  margin: 0.25em auto; }

h2 {
  margin: 0.5em auto; }

h3 {
  font-size: 0.85em; }

h6 {
  font-size: 0.5em;
  text-transform: uppercase;
  font-weight: bold; }

.viewer {
  max-height: 100%;
  min-height: 100%;
  position: relative; }

.video__wrapper {
  max-width: 75%;
  left: 25%;
  position: relative;
  height: auto; }

video {
  min-width: 100%;
  max-width: 100%;
  max-height: 100%; }

.sidebar {
  position: absolute;
  width: 25%;
  max-height: 100%;
  height: 100%;
  overflow-y: scroll; }

ul {
  padding: 1em; }
  ul:before {
    content: "BOOKMARKS";
    font-weight: bold;
    width: auto;
    display: block;
    margin-bottom: 0.5em; }

li {
  margin: 0.5em 0;
  margin-left: 3.5em;
  line-height: 1.35; }

li a:first-child {
  left: -3.5em;
  margin-right: -3.5em;
  position: relative;
  float: left; }

li strong {
  display: block;
  font-size: 1.25em;
  line-height: 1.1; }

strong {
  font-weight: bold; }

.videoSpeedControls {
  position: absolute;
  top: 1em;
  right: 1em; }

video::-webkit-media-controls-panel {
  display: flex !important;
  opacity: 1 !important; }
