!!!
%head
  %title ACGI Video Viewer
  %link(rel="stylesheet" type="text/css" href="css/style.css")
%body
  .viewer
    .sidebar
      %header.sidebar__header
        .sidebar__disclaimer
          %h6 For internal use only. These videos were taken for internal reference, and should not be shared with any clients or external parties.
        %h1 <strong>Name</strong>: 
        %h2 <strong>Location</strong>: AASLD on 20160524
        %h3 <strong>About</strong>: 
      %ul.subtitles
        %li
          %a(href="#" onclick="bookmarkNav(this)") 04.04
          %strong 5 Second Test: 1
          Immediately identified icons on the left side.


    .video__wrapper
      %video#testrecording(controls)
        %source(src="source_videos/video.mov" type="video/mp4")
    .videoSpeedControls
      %button(href="#" onClick="playSpeed(1.0)") 1x
      %button(href="#" onClick="playSpeed(1.5)") 1.5x
      %button(href="#" onClick="playSpeed(2.0)") 2x
      %button(href="#" onClick="playSpeed(3.0)") 3x
  :javascript
    var video = document.getElementById("testrecording");
    function bookmarkNav(time){
      time = time.innerHTML;
      if (time.toString().indexOf('.') != -1){
        explode = time.toString().split(".");
        time =  parseInt(explode[0]) * 60 + parseInt(explode[1]);
      }
      video.currentTime = time;
      video.play();
    }
    function playSpeed(speed){
      video.playbackRate = speed;
    }
